*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: var(--base-color);
}

main {
  padding: 3rem 1.5rem;
  margin-top: 7rem;
  min-height: calc(100vh - 16rem);
}

ul,
li,
div,
article,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

svg {
  fill: var(--base-color);
}
