@font-face {
  font-family: "Bogle";
  src: url("../assets/fonts/BogleWeb-Bold.eot");
  src: url("../assets/fonts/BogleWeb-Bold.woff2") format("woff2"),
    url("../assets/fonts/BogleWeb-Bold.woff") format("woff"),
    url("../assets/fonts/BogleWeb-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bogle";
  src: url("../assets/fonts/BogleWeb-Regular.eot");
  src: url("../assets/fonts/BogleWeb-Regular.woff2") format("woff2"),
    url("../assets/fonts/BogleWeb-Regular.woff") format("woff"),
    url("../assets/fonts/BogleWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
